<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthealth.diningroom.mapper.MealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smarthealth.diningroom.entity.Meal">
        <id column="meal_id" property="mealId" />
        <result column="user_id" property="userId" />
        <result column="plate_id" property="plateId" />
        <result column="create_time" property="createTime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        meal_id, user_id, plate_id, create_time, type
    </sql>

</mapper>
