<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthealth.diningroom.mapper.PlateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smarthealth.diningroom.entity.Plate">
        <id column="plate_id" property="plateId" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        plate_id, create_time, status
    </sql>

</mapper>
